<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>高二家长会</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <style>
        .accent {
            background-color: #005397;
        }

        body {
            font-family: "PingFang SC", "思源黑体", "Microsoft Yahei UI", sans-serif;
        }

        h1 {
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 3.7rem
        }

        .btn-large {
            font-size: 24px;
        }

        p {
            margin-bottom: 0.5em !important;
        }
        .row{
            margin-top: 20px !important;
        }
    </style>
</head>

<body class="blue lighten-5">
    <div class="container transparent blue-text text-darken-4 center-align">
        <h1>高二</h1>
        <div class="divider blue darken-4"></div>
        <p id="currentTitle" style="font-size: 3rem">{{titleContent}}</p>
        <p id="msg" class="flow-text" style="margin-bottom: 1em">{{msg}}</p>
        <div class="row">
            <button id="submitform" class="btn-large blue blue-text text-lighten-5" v-if="visible"
                onclick="goforms()">去提交志愿</button>
            <button id="seeresults" class="btn-large blue blue-text text-lighten-5" v-if="visible"
                onclick="goexcel()">去查看结果</button>
        </div>
    </div>
</body>
<script>
    var textData = {
        timefrom: [
            0,
            1558224000, //临时
            1558717200,
            1558915200, //临时
            1559088000,
            1559174400,
            Infinity
        ],
        title: [
            "敬请期待", "填写志愿", "等待结果", "查看结果", "与老师交谈", "感谢关注"
        ],
        msg: [
            "将于5月22日举行高一家长会，5月29日举行高二家长会。各位家长请等待通知。",
            "本部高二家长请填写志愿，截止5月24日17：00。请不要重复填写",
            "正在安排中，请耐心等待下一步进展",
            "请查看结果后，为家长交流日做好准备",
            "北大附中欢迎您！不要忘了家长交流日的事情哦",
            "感谢参与，下次再见"
        ]
    }
    var theTime = new Date();
    var res = 0
    for (let index = 0; index < textData.msg.length; index++) {
        const msgT = textData.msg[index];
        const titleT = textData.title[index];
        const timefromT = textData.timefrom[index];
        const timetoT = textData.timefrom[index + 1];
        const stampInS = Date.parse(theTime) / 1000
        if (stampInS >= timefromT && stampInS <= timetoT) {
            res = index
        }
    }
    var theTitle = new Vue({
        el: '#currentTitle',
        data: {
            titleContent: textData.title[res]
        }
    })
    var themsg = new Vue({
        el: "#msg",
        data: {
            msg: textData.msg[res]
        }
    })
    var thesubmit = new Vue({
        el: "#submitform",
        data: {
            visible: res == 1
        }
    })
    var theexcel = new Vue({
        el: "#seeresults",
        data: {
            visible: res == 3
        }
    })

    function goforms() {
        window.open(
            "https://forms.office.com/Pages/ResponsePage.aspx?id=dvGcSe515EmAwVKvzSjStSO8vWcCxT5Ai6EQbNHJpRpUQlE4UlVCTEZRQzNSWEZNMEpJUEJBUzUySi4u",
            "_self");
    }

    function goexcel(params) {
        M.toast({
            html: "尚未开放"
        })
    }
</script>

</html>